

*   strings in Python are arrays of bytes representing unicode characters

In [1]:
a = "Hello, 艾芮絲"
print(a[7])

# strings == > array
# index begins with 0

芮



*   Strings are Arrays ==> acces the elemet of arrays
*   Python does not have a character data type, a single character is simply a string with a length of 1

In [4]:
a = "Hello, 艾芮絲!"
print(a[4])

# strings == > array
# index begins with 0

o



*   Looping Through a String

In [7]:
for x in "IRISH":
  print(x)

I
R
I
S
H



*   String Length:To get the length of a string, use the len()function

In [8]:
a = "Hello, WORLD!"
print(len(a))
# wrong: print(length(a))

13

QUIZ:tell me how many char appear in "dshdsjadhsjahdsjhdecwej dsaksdjl"

In [9]:
a = "dshdsjadhsjahdsjhdecwej  dsaksdjl"
print(len(a))
# wrong: print(length(a))
# 33 = 31 letter 2 space

33


*   Check String:To check if a certain phrase or character is present in a string, we can use the keyword in
*   keyword in vs if
*   True or False

In [10]:
txt = "The best things in life are free!HDJSAdhjs  dhsjahd32 dsaDJHSajdh "
# print("free" in txt) == > True
# print("HDJSAdhj" in txt) == > True
print("HJSAdh" in txt)  # False

False

In [11]:
txt = "The best things in life are free!HDJSAdhjs  dhsjahd32 dsaDJHSajdh "
if "HDJSAdhj" in txt:
  print("Yes, 'HDJSAdhj' is present.")

Yes, 'HDJSAdhj' is present.

In [12]:
txt = "The best things in life are free!HDJSAdhjs  dhsjahd32 dsaDJHSajdh "
if "HJSAdhj" in txt:
  print("Yes, 'HJSAdhj' is present.")



*   Negative Indexing

In [15]:
b = "Hello, IRISH!"
print(b[-5:-2])
# -2 not included

RIS



*   Python - Modify Strings
*   The upper() method returns the string in upper case
*   The lower() method returns the string in lower case

In [16]:
b = "Hello, IRISH!"
print(b.upper())

HELLO, IRISH!



*   Remove Whitespace with strip() method
*   The strip() method removes any whitespace from the beginning or the end

In [17]:
b = " Hello, IRISH! "
print(b.strip())

Hello, IRISH!



*   The replace()method replaces a string with another string
*   seperator

In [18]:
b = " Hello, IRISH! "
print(b.replace("o", "w"))

 Hellw, IRISH!

In [19]:
b = " Hello, IRISH! "
print(b.split(","))

[' Hello', ' IRISH! ']

In [20]:
b = " Hello, IRISH! "
print(b.split("D"))

[' Hello, IRISH! ']



*   String Concatenation:To concatenate, or combine, two strings you can use the + operator.

In [21]:
a = "Hello"
b = " , "
c = "IRISH"
d = a + b + c
print(d)

Hello , IRISH



*   Python - Format - String

In [22]:
age = 18
txt = "My name is IRISH, and I am {}"
print(txt.format(age))

My name is IRISH, and I am 18

In [23]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {2} pieces of item {0} for {1} dollars."
print(myorder.format(quantity, itemno, price))

I want 49.95 pieces of item 3 for 567 dollars.

In [24]:
txt = "hello everyone welcome to my world."

x = txt.capitalize()

print (x)

Hello everyone welcome to my world.

In [25]:
txt = "Hello everyone Welcome To My World!"

x = txt.casefold()

print(x)

hello everyone welcome to my world!