In [2]:
initial = 111

for x in range(2,7,2):
  initial *= x  #initial = initial*x

print(initial)

5328

In [3]:
a = 13
b = 8

if a > b:
  print("Hello Python")

Hello Python

Python for loops.

Loop through the letters in the word "Colors":

In [1]:
for x in "Colors":
  print(x)

C
o
l
o
r
s

With the break statement we can stop the loop before it has looped through all the items:

In [4]:
colors = ["black", "red", "white"]
for x in colors:
  print(x)
  if x == "black":
    break

black

Exit the loop when x is "Pencil":

In [5]:
colors = ["black", "red", "white"]
for x in colors:
  print(x)
  if x == "red":
    break
    print(x)

black
red

With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [6]:
colors = ["black", "red", "white"]
for x in colors:
  print(x)
  if x == "red":
    continue
    print(x)

black
red
white

To loop through a set of code a specified number of times, we can use the range() function, The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number

In [7]:
for x in range(18):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

Using the start parameter:

In [8]:
for x in range(5, 15):
  print(x)

5
6
7
8
9
10
11
12
13
14

Increment the sequence with 3 (default is 1)

In [10]:
for x in range(5, 15, 2):
  print(x)

5
7
9
11
13

Print all numbers from 0 to 33, and print a message when the loop has ended:

In [11]:
for x in range(15):
  print(x)
else:
  print("done!")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
done!

Break the loop when x is 12, and see what happens with the else block:

In [12]:
for x in range(15):
  if x == 8: break
  print(x)
else:
  print("done!")

0
1
2
3
4
5
6
7

Print each adjective for every country:

In [13]:
adj = ["fragrant", "Colorful", "beautiful"]
flowers = ["rose", "tulips", "daisy"]

for x in adj:
  for y in flowers:
    print(x, y)

fragrant rose
fragrant tulips
fragrant daisy
Colorful rose
Colorful tulips
Colorful daisy
beautiful rose
beautiful tulips
beautiful daisy

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [15]:
for x in [5, 15, 30]:
  pass