In [1]:
def f(n):
   if n == 1:
     return 1
   else:
     return f(n-1) + n

f(18)

171

In [2]:
def sum(i1, i2):
    result = 0
    for i in range(i1,i2):
      result += i
    return result

def main():
    print("Sum from 5 to 10 is", sum(5, 10)) 
    print("Sum from 10 to 20 is", sum(10, 20))
    print("Sum from 20 to 30 is", sum(20, 30))

main() # Call the main function

Sum from 5 to 10 is 35
Sum from 10 to 20 is 145
Sum from 20 to 30 is 245