In [ ]:
Which following is the correct way to create a dictionary in Python?
   (A) students = { 'name' => 'alice' ;  'score' =>60 }
   (B) students = { 'name' = 'alice' ;  'score' =60 }
   (C) students = { 'name' : 'alice' ;  'score' : 60 }
   (D) students = { 'name' => 'alice' ,  'score' =>60 }
   (E) students = { 'name' : 'alice' , 'score' : 60 }

ANSWER: E

In [6]:
{ 'name' : 'alice' , 'score' : 60 }

{'name': 'alice', 'score': 60}

In [ ]:
What does the following Python program fragment do?
   s=0
   for i in range (3 , 10) :
        s+=i
   print (s)
   (A) Calculate the sum of 1+2+…+10
   (B) Calculate the sum of 1+4+7+10
   (C) Calculate the sum of 3+4+5+6+…+9
   (D) Calculate the sum of 3+4+5+6+…+10
   (E) Calculate the sum of 0+2+4+6+…+10

ANSWER: C

In [7]:
s=0
for i in range (3 , 10) :
    s+=i
print (s)

42

In [ ]:
What is the output of this code in Python?
      list = [ ' a ' ,  ' b ' ,  ' c ' ,  ' d ' ,  ' e ' ]
      print (list [ 1 : ])
   (A) [ ]
   (B) [ 'b' ]
   (C) [ 'a' ,  'b' ]
   (D) [ 'b' ,  'c' ,  'd' ,  'e' ]

ANSWER: D

In [11]:
list = [ ' a ' ,  ' b ' ,  ' c ' ,  ' d ' ,  ' e ' ]
print (list [ 1 : ])

[' b ', ' c ', ' d ', ' e ']

In [ ]:
What is the output of this code in Python?
        L1 = [ ]
        L1.append ( [1, [2, 3], 4] )
        L1.extend ( [7, 8, 9] )
        print(L1[0][1][1] + L1[2] )
   (A) 3  (B) 8  (C) 11  (D) 38  (E) None of these

ANSWER: C

In [12]:
L1 = [ ]
L1.append ( [1, [2, 3], 4] )
L1.extend ( [7, 8, 9] )
print(L1[0][1][1] + L1[2] )

11

In [ ]:
What is the output of this code in python?
        r = lambda q: q * 2
        s = lambda q: q * 3
        x = 2
        x = r (x)
        x = s (x)
        x = r (x)
        print (x)
   (A) 2  (B) 4  (C) 6  (D) 12  (E) 24

ANSWER: E

In [13]:
r = lambda q: q * 2
s = lambda q: q * 3
x = 2
x = r (x)
x = s (x)
x = r (x)
print (x)

24

In [ ]:
Which of the following conditions correctly describes the output of this code in  Python?
         first = [1 , 2 , 3 , 4 , 5]
         second = first
         second.append (6)
         print (first)
         print (second)
   (A) first=[1, 2, 3, 4, 5], second=[1, 2, 3, 4, 5, 6]
   (B) first=[1, 2, 3, 4, 5, 6], second=[1, 2, 3, 4, 5]
   (C) first=[1, 2, 3, 4, 5], second=[1, 2, 3, 4, 5]
   (D) first=[1, 2, 3, 4, 5, 6], second=[1, 2, 3, 4, 5, 6]
   (E) None of these

ANSWER: D

In [14]:
first = [1 , 2 , 3 , 4 , 5]
second = first
second.append (6)
print (first)
print (second)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [ ]:
If the function 
int volume (int x = 1, int y = 1, int z = 1); 
is called by the expression volume (7,8), 
how many default arguments are used?
(A) None  (B) One  (C) Two  (D) Three
(E) It depends on the runtime environment.

ANSWER: A

**reading comprehension:What is the output of this code in Python?**

In [20]:
# primes.py
primes = []  # this will contain the primes at the end
upto = 100  # the limit, inclusive
for n in range(2, upto + 1):
    is_prime = True  # flag, new at each iteration of outer for
    for divisor in range(2, n):
        if n % divisor == 0:
            is_prime = False
            break
    if is_prime:  # check on flag
        primes.append(n)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [21]:
# primes.else.py
primes = []
upto = 100
for n in range(2, upto + 1):
    for divisor in range(2, n):
        if n % divisor == 0:
            break
    else:
        primes.append(n)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [22]:
cubes = [x**3 for x in range(1,6)]
print(cubes)

[1, 8, 27, 64, 125]

 **Programming Python**